* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block1 {
  width: 500px;
  height: 500px;
  background-color: #2a73dd;
}

.block2 {
  width: 200px;
  height: 200px;
  background-color: #f9d412;
}

body {
  padding-top: 50px;
}
body header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 90px;
  background-color: #fff;
}
body .row,
body .col-6 {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
body .container {
  padding-right: 50px;
  padding-left: 50px;
}
body .introduce-part {
  background-color: #efedea;
}
body .introduce-part .introduce_content_right {
  position: relative;
  overflow: hidden;
}
body .introduce-part .introduce_content_right .introduce_content_right_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 150%;
  height: 100%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
body .introduce-part .introduce_content_right .overlay_content_right {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
body .introduce-part .introduce_content_right .overlay_content_right .overlay_content_right_text {
  position: absolute;
  bottom: 0;
  left: 0;
}
body .introduce-part .introduce_content_right .overlay_content_right .overlay_content_right_text a {
  text-decoration: none;
  color: white;
}
body .story-part {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
body .story-part .col-6 {
  position: relative;
  padding: 0 1rem;
}
body .story-part .col-6 .story_title {
  font-size: 164px;
  line-height: 200px;
  font-weight: 200;
  white-space: nowrap;
  position: relative;
  z-index: 98;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}
body .story-part .col-6:last-child .story_content-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}
body .story-part .col-6:last-child .story_content-right .story-img {
  width: 100%;
  position: relative;
  margin-left: 8%;
}
body .story-part .col-6:last-child .story_content-right .story-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
body .story-part .col-6:last-child .story_content-right .story-img .layer-story-img {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  top: 45px;
  right: -45px;
  background-color: #efedea;
}
body .story-part .col-6:last-child .story_content-right .story-logo {
  position: absolute;
  bottom: 0;
  left: 0;
}
body .next-story-part {
  background-color: #181818;
}
body .next-story-part .animated-ring .content-detail1 {
  width: 80%;
}
body .next-story-part .animated-ring .content-detail1 h2 {
  line-height: 6.125rem;
  font-size: 5rem;
}
body .next-story-part .animated-ring .content-detail2 a {
  position: relative;
  font-weight: 500;
  font-size: 1rem;
  padding: 0.75rem 1.25rem 0.75rem 4rem;
  color: #fff;
  margin-top: 1rem;
  display: inline-block;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
}
body .next-story-part .animated-ring .content-detail2 a::before {
  content: "";
  height: 48px;
  width: 51px;
  -webkit-mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="51" height="48" xmlns="http://www.w3.org/2000/svg"><path d="M6.146 31.842c-3.198-9.063.28-19.792 9.078-25.863 8.872-6.131 20.293-5.483 27.618.898l.972-.265c-7.943-7.648-20.426-8.93-29.843-2.431-9.093 6.263-12.408 17.773-8.739 27.661h.914z"/><path d="M48.382 12.831c.015 0 .03 0 .044-.014a4.837 4.837 0 0 0-1.164-1.71 5.062 5.062 0 0 0-1.179-.84 1.65 1.65 0 0 0-.265-.147c0 .014.015.014.015.03-.825-.399-1.769-.62-2.844-.62-2.211 0-4.525.752-6.898 2.21l-.589.399c-1.238.84-2.741 2.27-4.495 4.215-1.739 1.945-3.272 3.905-4.568 5.85-1.076 1.65-2.005 3.036-2.756 4.17l-.148.237c-.191.28-.368.545-.5.751l-.222.354c-.073.118-.147.22-.22.339-.148.22-.28.427-.413.59a16.49 16.49 0 0 1-.34.47c-.265.384-.56.812-.913 1.254-.722.943-1.37 1.724-1.945 2.27a10.664 10.664 0 0 1-3.582 2.357c-4.657-1.208-8.223-1.827-10.58-1.827-3.243 0-4.82.633-4.82 1.96 0 1.385 2.034 2.063 6.234 2.063 2.24 0 4.436-.206 6.558-.62 3.272 1.047 5.747 1.74 7.354 2.064 0 0 8.562 2.447 17.773-3.227-1.37.751-7.221 3.478-16.771 1.105-1.209-.324-2.682-.707-4.45-1.179 2.52-.752 4.568-1.872 6.115-3.33 1.209-1.15 2.417-2.8 3.581-4.938h.03l.073-.132a44.021 44.021 0 0 0 1.754-3.375c2.461-5.143 5.085-8.769 7.796-10.802l.56-.413c2.196-1.356 4.348-2.049 6.41-2.049.09 0 .178.015.266.015.192 0 .413.015.649.06.059 0 .117 0 .162.014.31.059.604.133.87.236l.309.132a2.7 2.7 0 0 1 .5.266c.074.044.148.103.222.147.663.457 1.15 1.061 1.533 1.695 4.878 9.505 1.635 21.722-7.973 28.369-9.609 6.632-22.18 5.335-29.342-2.594l-.943.133c7.737 9.255 21.398 11.259 31.523 4.274 9.903-6.794 12.954-19.807 7.59-30.212zM6.425 36.396c-4.892 0-5.63-.781-5.63-1.253 0-.722 1.239-.87 2.27-.87 1.46 0 4.171.605 8.091 1.814-1.444.206-3.036.31-4.73.31z"/><path d="M37.904 35.423l.31-.176c-.089.059-.206.117-.31.176zM17.508 31.017c.501-.486 1.105-1.194 1.783-2.093.34-.412.604-.796.84-1.134l.369-.531c.132-.192.265-.368.383-.56l.427-.648c.133-.221.324-.502.53-.796l.133-.206c.781-1.165 1.695-2.55 2.771-4.186 1.341-2.019 2.918-4.038 4.716-6.057 1.842-2.063 3.463-3.566 4.79-4.48l.604-.413c1.812-1.134 3.61-1.857 5.364-2.21-1.99-.192-5.099-.192-8.385 1.12-1.651.516-2.756 1.326-3.596 1.99-.177.132-.34.25-.516.382l.015-.029s-.62-1.194-.487-2.432c0 0-.177 1.209-.059 1.68 0 0-.398-1.12-.353-1.871 0 0-.177 1.046.294 2.18.163.399.148.679.074.87-.03.015-.074.045-.118.074-.044.03-.088.074-.147.118a2.053 2.053 0 0 1-.413.177c-.722.206-1.71.575-3.183.295-1.489-.266-2.02.014-2.122.604-.074.471.427 1.37.206 1.695-.28.427-.943.22-1.105.545-.162.324-.133.457 0 1.164 0 0-.604-.324-.826.015-.22.324-.014 1.208-.471 1.591-.457.398-1.798.354-1.71 1.887.045.855.472 1.488 1.091 2.048 0 0 .03.03.059.044.03.03.044.045.074.06.31.25 1.105.972 1.444 1.915.103.457.118.929.073 1.4-.073.324-.073.442-.044.398-.427 2.682-2.608 5.306-3.183 5.954.25-.192.486-.354.678-.56z"/></svg>');
          mask-image: url('data:image/svg+xml;charset=utf-8,<svg width="51" height="48" xmlns="http://www.w3.org/2000/svg"><path d="M6.146 31.842c-3.198-9.063.28-19.792 9.078-25.863 8.872-6.131 20.293-5.483 27.618.898l.972-.265c-7.943-7.648-20.426-8.93-29.843-2.431-9.093 6.263-12.408 17.773-8.739 27.661h.914z"/><path d="M48.382 12.831c.015 0 .03 0 .044-.014a4.837 4.837 0 0 0-1.164-1.71 5.062 5.062 0 0 0-1.179-.84 1.65 1.65 0 0 0-.265-.147c0 .014.015.014.015.03-.825-.399-1.769-.62-2.844-.62-2.211 0-4.525.752-6.898 2.21l-.589.399c-1.238.84-2.741 2.27-4.495 4.215-1.739 1.945-3.272 3.905-4.568 5.85-1.076 1.65-2.005 3.036-2.756 4.17l-.148.237c-.191.28-.368.545-.5.751l-.222.354c-.073.118-.147.22-.22.339-.148.22-.28.427-.413.59a16.49 16.49 0 0 1-.34.47c-.265.384-.56.812-.913 1.254-.722.943-1.37 1.724-1.945 2.27a10.664 10.664 0 0 1-3.582 2.357c-4.657-1.208-8.223-1.827-10.58-1.827-3.243 0-4.82.633-4.82 1.96 0 1.385 2.034 2.063 6.234 2.063 2.24 0 4.436-.206 6.558-.62 3.272 1.047 5.747 1.74 7.354 2.064 0 0 8.562 2.447 17.773-3.227-1.37.751-7.221 3.478-16.771 1.105-1.209-.324-2.682-.707-4.45-1.179 2.52-.752 4.568-1.872 6.115-3.33 1.209-1.15 2.417-2.8 3.581-4.938h.03l.073-.132a44.021 44.021 0 0 0 1.754-3.375c2.461-5.143 5.085-8.769 7.796-10.802l.56-.413c2.196-1.356 4.348-2.049 6.41-2.049.09 0 .178.015.266.015.192 0 .413.015.649.06.059 0 .117 0 .162.014.31.059.604.133.87.236l.309.132a2.7 2.7 0 0 1 .5.266c.074.044.148.103.222.147.663.457 1.15 1.061 1.533 1.695 4.878 9.505 1.635 21.722-7.973 28.369-9.609 6.632-22.18 5.335-29.342-2.594l-.943.133c7.737 9.255 21.398 11.259 31.523 4.274 9.903-6.794 12.954-19.807 7.59-30.212zM6.425 36.396c-4.892 0-5.63-.781-5.63-1.253 0-.722 1.239-.87 2.27-.87 1.46 0 4.171.605 8.091 1.814-1.444.206-3.036.31-4.73.31z"/><path d="M37.904 35.423l.31-.176c-.089.059-.206.117-.31.176zM17.508 31.017c.501-.486 1.105-1.194 1.783-2.093.34-.412.604-.796.84-1.134l.369-.531c.132-.192.265-.368.383-.56l.427-.648c.133-.221.324-.502.53-.796l.133-.206c.781-1.165 1.695-2.55 2.771-4.186 1.341-2.019 2.918-4.038 4.716-6.057 1.842-2.063 3.463-3.566 4.79-4.48l.604-.413c1.812-1.134 3.61-1.857 5.364-2.21-1.99-.192-5.099-.192-8.385 1.12-1.651.516-2.756 1.326-3.596 1.99-.177.132-.34.25-.516.382l.015-.029s-.62-1.194-.487-2.432c0 0-.177 1.209-.059 1.68 0 0-.398-1.12-.353-1.871 0 0-.177 1.046.294 2.18.163.399.148.679.074.87-.03.015-.074.045-.118.074-.044.03-.088.074-.147.118a2.053 2.053 0 0 1-.413.177c-.722.206-1.71.575-3.183.295-1.489-.266-2.02.014-2.122.604-.074.471.427 1.37.206 1.695-.28.427-.943.22-1.105.545-.162.324-.133.457 0 1.164 0 0-.604-.324-.826.015-.22.324-.014 1.208-.471 1.591-.457.398-1.798.354-1.71 1.887.045.855.472 1.488 1.091 2.048 0 0 .03.03.059.044.03.03.044.045.074.06.31.25 1.105.972 1.444 1.915.103.457.118.929.073 1.4-.073.324-.073.442-.044.398-.427 2.682-2.608 5.306-3.183 5.954.25-.192.486-.354.678-.56z"/></svg>');
  -webkit-mask-size: contain;
          mask-size: contain;
  vertical-align: -75%;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #736f68;
  display: inline-block;
  margin-right: 0.75rem;
}
body .vid-story-part {
  background-color: #181818;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
body .vid-story-part .video-box {
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}
body .vid-story-part .video-box img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
body .vid-story-part .video-box .ovelay-video-box {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .vid-story-part .video-box .ovelay-video-box .video-btn {
  gap: 20px;
}
body .vid-story-part .video-box .ovelay-video-box .video-btn .play_text {
  font-size: 10.25rem;
  font-weight: 200;
  color: #bab3a5;
  text-decoration: underline;
}